<div class="cat-news">
    <app-breadcrumb></app-breadcrumb>
    <div class="container ">
        <div class="row ">
            <div class="col-md-8 pt-4 ">
                <div class="row pb-3 ">
                    <div class="col-md-12 ">
                        <h4 class="border-bottom ">
                            <p class="text-center p-2 ">Tin mới</p>
                        </h4>
                    </div>
                </div>
                <div class="row pb-3 ">
                    <div class="col-md-12 item d-flex flex-row mb-5">
                        <div class="item-img">
                            <img src="../../assets/img/news-350x223-1.jpg " />
                        </div>
                        <div class="item-title ">
                            <a href="">Review du lịch Cao Bằng 3N3Đ từ Hà Nội</a>
                            <p class="desc">Chuyến đi của bọn mình không tham quan được hết tất cả những điểm du lịch tại Cao Bằng, nhưng mình thấy khá là mãn nguyện, đi về nói chung là khỏe ạ. Nếu ở được lâu hơn thì còn rất nhiều nơi để khám phá. Mong rằng bài review…</p>
                        </div>
                    </div>
                    <div class="col-md-12 item d-flex flex-row mb-5">
                        <div class="item-img">
                            <img src="../../assets/img/news-350x223-1.jpg " />
                        </div>
                        <div class="item-title ">
                            <a href=" ">Review du lịch Cao Bằng 3N3Đ từ Hà Nội</a>
                            <p>Chuyến đi của bọn mình không tham quan được hết tất cả những điểm du lịch tại Cao Bằng, nhưng mình thấy khá là mãn nguyện, đi về nói chung là khỏe ạ. Nếu ở được lâu hơn thì còn rất nhiều nơi để khám phá. Mong rằng bài review…</p>
                        </div>
                    </div>
                    <div class="col-md-12 item d-flex flex-row mb-5">
                        <div class="item-img">
                            <img src="../../assets/img/news-350x223-1.jpg " />
                        </div>
                        <div class="item-title ">
                            <a href=" ">Review du lịch Cao Bằng 3N3Đ từ Hà Nội</a>
                            <p>Chuyến đi của bọn mình không tham quan được hết tất cả những điểm du lịch tại Cao Bằng, nhưng mình thấy khá là mãn nguyện, đi về nói chung là khỏe ạ. Nếu ở được lâu hơn thì còn rất nhiều nơi để khám phá. Mong rằng bài review…</p>
                        </div>
                    </div>
                    <div class="col-md-12 item d-flex flex-row mb-5">
                        <div class="item-img">
                            <img src="../../assets/img/news-350x223-1.jpg " />
                        </div>
                        <div class="item-title ">
                            <a href=" ">Review du lịch Cao Bằng 3N3Đ từ Hà Nội</a>
                            <p>Chuyến đi của bọn mình không tham quan được hết tất cả những điểm du lịch tại Cao Bằng, nhưng mình thấy khá là mãn nguyện, đi về nói chung là khỏe ạ. Nếu ở được lâu hơn thì còn rất nhiều nơi để khám phá. Mong rằng bài review…</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <a class="btn-custom">
                            Xem thêm
                    </a>
                </div>
            </div>
            <div class="col-md-4 pt-4 ">
                <div class="sidebar-item ">
                    <div class="theiaStickySidebar ">
                        <div class="row ">
                            <div class="col-md-12 ">
                                <h4 class="border-bottom ">
                                    <p class="text-center p-2 ">Trải nghiệm</p>
                                </h4>
                                <div class="tab-news ">
                                    <div class="container tab-pane active scrollbar-rail ">
                                        <div class=" tn-news ">
                                            <div class="tn-img ">
                                                <img src="../../assets/img/news-350x223-5.jpg " />
                                            </div>
                                            <div class="tn-title ">
                                                <a href=" ">Lorem ipsum dolor sit amet</a>
                                            </div>
                                        </div>
                                        <div class="tn-news ">
                                            <div class="tn-img ">
                                                <img src="../../assets/img/news-350x223-4.jpg " />
                                            </div>
                                            <div class="tn-title ">
                                                <a href=" ">Lorem ipsum dolor sit amet</a>
                                            </div>
                                        </div>
                                        <div class="tn-news ">
                                            <div class="tn-img ">
                                                <img src="../../assets/img/news-350x223-3.jpg " />
                                            </div>
                                            <div class="tn-title ">
                                                <a href=" ">Lorem ipsum dolor sit amet</a>
                                            </div>
                                        </div>
                                        <div class="tn-news ">
                                            <div class="tn-img ">
                                                <img src="../../assets/img/news-350x223-5.jpg " />
                                            </div>
                                            <div class="tn-title ">
                                                <a href=" ">Lorem ipsum dolor sit amet</a>
                                            </div>
                                        </div>
                                        <div class="tn-news ">
                                            <div class="tn-img ">
                                                <img src="../../assets/img/news-350x223-5.jpg " />
                                            </div>
                                            <div class="tn-title ">
                                                <a href=" ">Lorem ipsum dolor sit amet</a>
                                            </div>
                                        </div>
                                        <div class="tn-news ">
                                            <div class="tn-img ">
                                                <img src="../../assets/img/news-350x223-5.jpg " />
                                            </div>
                                            <div class="tn-title ">
                                                <a href=" ">Lorem ipsum dolor sit amet</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row " style="margin-top:69px; ">
                            <div class="col-md-12 pl-4 ">
                                <h4 class="border-bottom ">
                                    <p class="text-center p-2 ">Bài viết khác</p>
                                </h4>
                                <ul>
                                    <li><a href=" ">Lorem ipsum dolor sit amet</a></li>
                                    <li><a href=" ">Pellentesque tincidunt enim libero</a></li>
                                    <li><a href=" ">Morbi id finibus diam vel pretium enim</a></li>
                                    <li><a href=" ">Duis semper sapien in eros euismod sodales</a></li>
                                    <li><a href=" ">Vestibulum cursus lorem nibh</a></li>
                                    <li><a href=" ">Morbi ullamcorper vulputate metus non eleifend</a></li>
                                    <li><a href=" ">Etiam vitae elit felis sit amet</a></li>
                                    <li><a href=" ">Nullam congue massa vitae quam</a></li>
                                    <li><a href=" ">Proin sed ante rutrum</a></li>
                                    <li><a href=" ">Curabitur vel lectus</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>