<div class="cat-news">
    <div class="container">
        <!-- Top News Start-->
        <div class="top-news">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="new-slide-item">
                            <a href="">
                                <img src="../../assets/img/hanoi-1.jpg">
                                <div class="new-slide-title">
                                    <div class="new-slide-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 20/01/2021</div>
                                    <h6>
                                        Lorem ipsum dolor sit Lorem ipsum dolor sit
                                    </h6>
                                    <div class="new-slide-desc">I am trying to make a child div using 100% (including padding) of the parents' width and height. Whatever I try it's not working. I tried to add box-sizing = border-box but that didn't change anything. I also tried
                                        to add the box-sizing to all elements using * but that didn't change anything either.Đến chơi với mảnh đất Hà thành ngàn năm văn hiến, chắc hẳn sẽ có nhiều người không khỏi băn khoăn I am trying to make a child
                                        div using 100% (including padding) of the parents' width and height. Whatever I try it's not working. I tried to add box-sizing = border-box but that didn't change anything. I also tried to add the box-sizing to
                                        all elements using * but that didn't change anything either.Đến chơi với mảnh đất Hà thành ngàn năm văn hiến, chắc hẳn sẽ có nhiều người không khỏi băn khoăn
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="new-slide-item">
                            <a href="">
                                <img src="../../assets/img/hanoi-2.jpg">
                                <div class="new-slide-title">
                                    <div class="new-slide-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 20/01/2021</div>
                                    <h6>
                                        Lorem ipsum dolor sit
                                    </h6>
                                    <div class="new-slide-desc">I am trying to make a child div using 100% (including padding) of the parents' width and height. Whatever I try it's not working. I tried to add box-sizing = border-box but that didn't change anything. I also tried
                                        to add the box-sizing to all elements using * but that didn't change anything either.Đến chơi với mảnh đất Hà thành ngàn năm văn hiến, chắc hẳn sẽ có nhiều người không khỏi băn khoăn I am trying to make a child
                                        div using 100% (including padding) of the parents' width and height. Whatever I try it's not working. I tried to add box-sizing = border-box but that didn't change anything. I also tried to add the box-sizing to
                                        all elements using * but that didn't change anything either.Đến chơi với mảnh đất Hà thành ngàn năm văn hiến, chắc hẳn sẽ có nhiều người không khỏi băn khoăn
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="new-slide-item">
                            <a href=" ">
                                <img src="../../assets/img/hanoi-2.jpg">
                                <div class="new-slide-title">
                                    <div class="new-slide-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 20/01/2021</div>
                                    <h6>
                                        Lorem ipsum dolor sit
                                    </h6>
                                    <div class="new-slide-desc">I am trying to make a child div using 100% (including padding) of the parents' width and height. Whatever I try it's not working. I tried to add box-sizing = border-box but that didn't change anything. I also tried
                                        to add the box-sizing to all elements using * but that didn't change anything either.Đến chơi với mảnh đất Hà thành ngàn năm văn hiến, chắc hẳn sẽ có nhiều người không khỏi băn khoăn I am trying to make a child
                                        div using 100% (including padding) of the parents' width and height. Whatever I try it's not working. I tried to add box-sizing = border-box but that didn't change anything. I also tried to add the box-sizing to
                                        all elements using * but that didn't change anything either.Đến chơi với mảnh đất Hà thành ngàn năm văn hiến, chắc hẳn sẽ có nhiều người không khỏi băn khoăn
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="new-slide-item">
                            <a href="">
                                <img src="../../assets/img/hanoi-3.jpg">
                                <div class="new-slide-title">
                                    <div class="new-slide-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 20/01/2021</div>
                                    <h6>
                                        Lorem ipsum dolor sit
                                    </h6>
                                    <div class="new-slide-desc">I am trying to make a child div using 100% (including padding) of the parents' width and height. Whatever I try it's not working. I tried to add box-sizing = border-box but that didn't change anything. I also tried
                                        to add the box-sizing to all elements using * but that didn't change anything either.Đến chơi với mảnh đất Hà thành ngàn năm văn hiến, chắc hẳn sẽ có nhiều người không khỏi băn khoăn I am trying to make a child
                                        div using 100% (including padding) of the parents' width and height. Whatever I try it's not working. I tried to add box-sizing = border-box but that didn't change anything. I also tried to add the box-sizing to
                                        all elements using * but that didn't change anything either.Đến chơi với mảnh đất Hà thành ngàn năm văn hiến, chắc hẳn sẽ có nhiều người không khỏi băn khoăn
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="new-slide-item">
                            <a href="">
                                <img src="../../assets/img/hanoi-3.jpg">
                                <div class="new-slide-title">
                                    <div class="new-slide-date"><i class="fa fa-clock-o" aria-hidden="true"></i> 20/01/2021</div>
                                    <h6>
                                        Lorem ipsum dolor sit
                                    </h6>
                                    <div class="new-slide-desc">I am trying to make a child div using 100% (including padding) of the parents' width and height. Whatever I try it's not working. I tried to add box-sizing = border-box but that didn't change anything. I also tried
                                        to add the box-sizing to all elements using * but that didn't change anything either.Đến chơi với mảnh đất Hà thành ngàn năm văn hiến, chắc hẳn sẽ có nhiều người không khỏi băn khoăn I am trying to make a child
                                        div using 100% (including padding) of the parents' width and height. Whatever I try it's not working. I tried to add box-sizing = border-box but that didn't change anything. I also tried to add the box-sizing to
                                        all elements using * but that didn't change anything either.Đến chơi với mảnh đất Hà thành ngàn năm văn hiến, chắc hẳn sẽ có nhiều người không khỏi băn khoăn
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top News End-->
    </div>
    <app-breadcrumb></app-breadcrumb>
    <div class="container ">
        <div class="row ">
            <div class="col-md-8 pt-4 ">
                <div class="row pb-3 ">
                    <div class="col-md-12 ">
                        <h4 class="border-bottom ">
                            <p class="text-center p-2 ">Tin mới</p>
                        </h4>
                    </div>
                </div>
                <div class="row pb-3 ">
                    <div class="col-md-6 item ">
                        <div class="header ">
                            <h3><a href="# ">Review du lịch Phú Quốc – 4N4Đ siêu chill ở Phú Quốc với 7 triệu cho 2 người</a></h3>
                        </div>
                        <div class="content ">
                            <a href=" ">
                                <img src="../../assets/img/news-350x223-1.jpg " />
                            </a>
                            <p class="desc ">“Vì đất nước mình còn lạ, cần chi đâu nước ngoài Đặt chân lên tất cả mọi miền là ước mơ ta ước hoài “ Tuổi trẻ có được mấy… Tóc còn xanh, máu còn nóng nằm một chỗ để làm chi..? Còn chần chừ gì mà không xách balo…</p>
                        </div>
                        <a href=" " class="action-detail ">Xem thêm >></a>
                    </div>
                    <div class="col-md-6 item ">
                        <div class="header ">
                            <h3><a href="# ">Review du lịch Phú Quốc – 4N4Đ siêu chill ở Phú Quốc với 7 triệu cho 2 người Review du lịch Phú Quốc – 4N4Đ siêu chill ở Phú Quốc với 7 triệu cho 2 người Review du lịch Phú Quốc – 4N4Đ siêu chill ở Phú Quốc với 7 triệu cho 2 người</a></h3>
                        </div>
                        <div class="content ">
                            <a href=" ">
                                <img src="../../assets/img/news-350x223-1.jpg " />
                            </a>
                            <p class="desc ">“Vì đất nước mình còn lạ, cần chi đâu nước ngoài Đặt chân lên tất cả mọi miền là ước mơ ta ước hoài “ Tuổi trẻ có được mấy… Tóc còn xanh, máu còn nóng nằm một chỗ để làm chi..? Còn chần chừ gì mà không xách balo…</p>
                        </div>
                        <a href=" " class="action-detail ">Xem thêm >></a>
                    </div>
                </div>
                <div class="row pb-3 ">
                    <div class="col-md-6 item ">
                        <div class="header ">
                            <h3><a href="# ">Review du lịch Phú Quốc – 4N4Đ siêu chill ở Phú Quốc với 7 triệu cho 2 người</a></h3>
                        </div>
                        <div class="content ">
                            <a href=" ">
                                <img src="../../assets/img/news-350x223-1.jpg " />
                            </a>
                            <p class="desc ">“Vì đất nước mình còn lạ, cần chi đâu nước ngoài Đặt chân lên tất cả mọi miền là ước mơ ta ước hoài “ Tuổi trẻ có được mấy… Tóc còn xanh, máu còn nóng nằm một chỗ để làm chi..? Còn chần chừ gì mà không xách balo…</p>
                        </div>
                        <a href=" " class="action-detail ">Xem thêm >></a>
                    </div>
                    <div class="col-md-6 item ">
                        <div class="header ">
                            <h3><a href="# ">Review du lịch Phú Quốc – 4N4Đ siêu chill ở Phú Quốc với 7 triệu cho 2 người</a></h3>
                        </div>
                        <div class="content ">
                            <a href=" ">
                                <img src="../../assets/img/news-350x223-1.jpg " />
                            </a>
                            <p class="desc ">“Vì đất nước mình còn lạ, cần chi đâu nước ngoài Đặt chân lên tất cả mọi miền là ước mơ ta ước hoài “ Tuổi trẻ có được mấy… Tóc còn xanh, máu còn nóng nằm một chỗ để làm chi..? Còn chần chừ gì mà không xách balo…</p>
                        </div>
                        <a href=" " class="action-detail ">Xem thêm >></a>
                    </div>
                </div>
                <div class="row pb-3 ">
                    <div class="col-md-6 item ">
                        <div class="header ">
                            <h3><a href="# ">Review du lịch Phú Quốc – 4N4Đ siêu chill ở Phú Quốc với 7 triệu cho 2 người</a></h3>
                        </div>
                        <div class="content ">
                            <a href=" ">
                                <img src="../../assets/img/news-350x223-1.jpg " />
                            </a>
                            <p class="desc ">“Vì đất nước mình còn lạ, cần chi đâu nước ngoài Đặt chân lên tất cả mọi miền là ước mơ ta ước hoài “ Tuổi trẻ có được mấy… Tóc còn xanh, máu còn nóng nằm một chỗ để làm chi..? Còn chần chừ gì mà không xách balo…</p>
                        </div>
                        <a href=" " class="action-detail ">Xem thêm >></a>
                    </div>
                    <div class="col-md-6 item ">
                        <div class="header ">
                            <h3><a href="# ">Review du lịch Phú Quốc – 4N4Đ siêu chill ở Phú Quốc với 7 triệu cho 2 người</a></h3>
                        </div>
                        <div class="content ">
                            <a href=" ">
                                <img src="../../assets/img/news-350x223-1.jpg " />
                            </a>
                            <p class="desc ">“Vì đất nước mình còn lạ, cần chi đâu nước ngoài Đặt chân lên tất cả mọi miền là ước mơ ta ước hoài “ Tuổi trẻ có được mấy… Tóc còn xanh, máu còn nóng nằm một chỗ để làm chi..? Còn chần chừ gì mà không xách balo…</p>
                        </div>
                        <a href=" " class="action-detail ">Xem thêm >></a>
                    </div>
                </div>
                <div class="row pb-3 ">
                    <div class="col-md-6 item ">
                        <div class="header ">
                            <h3><a href="# ">Review du lịch Phú Quốc – 4N4Đ siêu chill ở Phú Quốc với 7 triệu cho 2 người</a></h3>
                        </div>
                        <div class="content ">
                            <a href=" ">
                                <img src="../../assets/img/news-350x223-1.jpg " />
                            </a>
                            <p class="desc ">“Vì đất nước mình còn lạ, cần chi đâu nước ngoài Đặt chân lên tất cả mọi miền là ước mơ ta ước hoài “ Tuổi trẻ có được mấy… Tóc còn xanh, máu còn nóng nằm một chỗ để làm chi..? Còn chần chừ gì mà không xách balo…</p>
                        </div>
                        <a href=" " class="action-detail ">Xem thêm >></a>
                    </div>
                    <div class="col-md-6 item ">
                        <div class="header ">
                            <h3><a href="# ">Review du lịch Phú Quốc – 4N4Đ siêu chill ở Phú Quốc với 7 triệu cho 2 người</a></h3>
                        </div>
                        <div class="content ">
                            <a href=" ">
                                <img src="../../assets/img/news-350x223-1.jpg " />
                            </a>
                            <p class="desc ">“Vì đất nước mình còn lạ, cần chi đâu nước ngoài Đặt chân lên tất cả mọi miền là ước mơ ta ước hoài “ Tuổi trẻ có được mấy… Tóc còn xanh, máu còn nóng nằm một chỗ để làm chi..? Còn chần chừ gì mà không xách balo…</p>
                        </div>
                        <a href=" " class="action-detail ">Xem thêm >></a>
                    </div>
                </div>
                <div class="row pb-3 ">
                    <div class="col-md-6 item ">
                        <div class="header ">
                            <h3><a href="# ">Review du lịch Phú Quốc – 4N4Đ siêu chill ở Phú Quốc với 7 triệu cho 2 người</a></h3>
                        </div>
                        <div class="content ">
                            <a href=" ">
                                <img src="../../assets/img/news-350x223-1.jpg " />
                            </a>
                            <p class="desc ">“Vì đất nước mình còn lạ, cần chi đâu nước ngoài Đặt chân lên tất cả mọi miền là ước mơ ta ước hoài “ Tuổi trẻ có được mấy… Tóc còn xanh, máu còn nóng nằm một chỗ để làm chi..? Còn chần chừ gì mà không xách balo…</p>
                        </div>
                        <a href=" " class="action-detail ">Xem thêm >></a>
                    </div>
                    <div class="col-md-6 item ">
                        <div class="header ">
                            <h3><a href="# ">Review du lịch Phú Quốc – 4N4Đ siêu chill ở Phú Quốc với 7 triệu cho 2 người</a></h3>
                        </div>
                        <div class="content ">
                            <a href=" ">
                                <img src="../../assets/img/news-350x223-1.jpg " />
                            </a>
                            <p class="desc ">“Vì đất nước mình còn lạ, cần chi đâu nước ngoài Đặt chân lên tất cả mọi miền là ước mơ ta ước hoài “ Tuổi trẻ có được mấy… Tóc còn xanh, máu còn nóng nằm một chỗ để làm chi..? Còn chần chừ gì mà không xách balo…</p>
                        </div>
                        <a href=" " class="action-detail ">Xem thêm >></a>
                    </div>
                </div>
                <div class="row mt-5">
                    <a class="btn-custom">
                            Xem thêm
                    </a>
                </div>
            </div>
            <div class="col-md-4 pt-4 ">
                <div class="sidebar-item ">
                    <div class="theiaStickySidebar ">
                        <div class="row ">
                            <div class="col-md-12 ">
                                <h4 class="border-bottom ">
                                    <p class="text-center p-2 ">Trải nghiệm</p>
                                </h4>
                                <div class="tab-news ">
                                    <div class="container tab-pane active scrollbar-rail ">
                                        <div class=" tn-news ">
                                            <div class="tn-img ">
                                                <img src="../../assets/img/news-350x223-5.jpg " />
                                            </div>
                                            <div class="tn-title ">
                                                <a href=" ">Lorem ipsum dolor sit amet</a>
                                            </div>
                                        </div>
                                        <div class="tn-news ">
                                            <div class="tn-img ">
                                                <img src="../../assets/img/news-350x223-4.jpg " />
                                            </div>
                                            <div class="tn-title ">
                                                <a href=" ">Lorem ipsum dolor sit amet</a>
                                            </div>
                                        </div>
                                        <div class="tn-news ">
                                            <div class="tn-img ">
                                                <img src="../../assets/img/news-350x223-3.jpg " />
                                            </div>
                                            <div class="tn-title ">
                                                <a href=" ">Lorem ipsum dolor sit amet</a>
                                            </div>
                                        </div>
                                        <div class="tn-news ">
                                            <div class="tn-img ">
                                                <img src="../../assets/img/news-350x223-5.jpg " />
                                            </div>
                                            <div class="tn-title ">
                                                <a href=" ">Lorem ipsum dolor sit amet</a>
                                            </div>
                                        </div>
                                        <div class="tn-news ">
                                            <div class="tn-img ">
                                                <img src="../../assets/img/news-350x223-5.jpg " />
                                            </div>
                                            <div class="tn-title ">
                                                <a href=" ">Lorem ipsum dolor sit amet</a>
                                            </div>
                                        </div>
                                        <div class="tn-news ">
                                            <div class="tn-img ">
                                                <img src="../../assets/img/news-350x223-5.jpg " />
                                            </div>
                                            <div class="tn-title ">
                                                <a href=" ">Lorem ipsum dolor sit amet</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row " style="margin-top:69px; ">
                            <div class="col-md-12 pl-4 ">
                                <h4 class="border-bottom ">
                                    <p class="text-center p-2 ">Bài viết khác</p>
                                </h4>
                                <ul>
                                    <li><a href=" ">Lorem ipsum dolor sit amet</a></li>
                                    <li><a href=" ">Pellentesque tincidunt enim libero</a></li>
                                    <li><a href=" ">Morbi id finibus diam vel pretium enim</a></li>
                                    <li><a href=" ">Duis semper sapien in eros euismod sodales</a></li>
                                    <li><a href=" ">Vestibulum cursus lorem nibh</a></li>
                                    <li><a href=" ">Morbi ullamcorper vulputate metus non eleifend</a></li>
                                    <li><a href=" ">Etiam vitae elit felis sit amet</a></li>
                                    <li><a href=" ">Nullam congue massa vitae quam</a></li>
                                    <li><a href=" ">Proin sed ante rutrum</a></li>
                                    <li><a href=" ">Curabitur vel lectus</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>