<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="../../assets/icon/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a href="">
                        <i class="fas fa-chart-bar"></i>Bài viết</a>
                </li>
                <li>
                    <a href="">
                        <i class="fas fa-table"></i>Tables</a>
                </li>
                <li>
                    <a href="#sub-config" data-toggle="collapse" aria-expanded="false" aria-controls="sub-config"><i class="fas fa-table"></i>Cấu hình</a>
                    <ul class="list-unstyled navbar__list collapse multi-collapse" id="sub-config">
                        <li>
                            <a href="">Điểm đến du lịch</a>
                        </li>
                        <li>
                            <a href="">Sub 2</a>
                        </li>
                        <li>
                            <a href="">Sub 3</a>
                        </li>
                        <li>
                            <a href="">Sub 4</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->